<!DOCTYPE html>
<html ng-app="kursMonitor">
	<head>
		<meta charset="utf-8">
		<title>Fimon - Finanzmonitor</title>
		
		<script src="lib/moment-2.3.1/moment.js"></script>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-resource.js"></script>
		<script src="lib/angular/angular-route.js"></script>
		
		<script src="js/monitor-service.js"></script>
		<script src="js/controller.js"></script>
		
		<link rel="stylesheet" href="css/monitor.css">
	</head>
	<body ng-controller="kursMonitorCtrl">
		<h1>Finanzmonitor zur Allianz IndexSelect</h1>
		<p>
			Diese Seite zeigt die Wertentwicklung des Aktienindex EURO STOXX 50&reg;, so wie er sich
			in Zusammenhang mit dem Produkt <a
			href="https://www.allianz.de/ratgeber/vorsorge/aktuell/vorsorge-indexselect.html">IndexSelect</a>
			der Allianz Versicherung auswirkt.
		</p>
		<p>
			Sie k&ouml;nnen diese Seite auch als Lesezeichen speichern, dann bleiben die Parameter erhalten!
		</p>
		<h2>Parameter</h2>
		<p>
			Rendite f&uuml;r das Jahr:
			<input name="year" type="text" class="input-year" ng-model="year"/>
			Monat des Indexstichtages:
			<select name="month" size="1" ng-model="referenceMonth">
				<option value="1">Januar</option>
				<option value="2">Februar</option>
				<option value="3">M&auml;rz</option>
				<option value="4">April</option>
				<option value="5">Mai</option>
				<option value="6">Juni</option>
				<option value="7">Juli</option>
				<option value="8">August</option>
				<option value="9">September</option>
				<option value="10">Oktober</option>
				<option value="11">November</option>
				<option value="12">Dezember</option>
			</select>
			Cap: 
			<input name="cap" type="text" class="input-year" ng-model="cap" />
			<button id="submitButton" type="submit" ng-click="calculateRates()">&Uuml;bernehmen</button>
		</p>
		<h2>Ergebnis</h2>
		<table id="resultTable">
			<thead>
				<tr>
					<th>Monat</th>
					<th>Schlusswert</th>
					<th>Ver&auml;nderung</th>
					<th>mit Cap</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="rate in rates" id="rateTemplate">
					<td>{{rate.month}}</td>
					<td>{{rate.value}}</td>
					<td>{{rate.factor}}</td>
					<td>{{rate.factorWithCap}}</td>
				</tr>
			</tbody>
		</table>

		<h2>Hintergrundinformationen</h2>
		<p>
			Die zugrundeliegenden Kursdaten stammen von Yahoo! Finanzen. Links:
		</p>
		<ul>
			<li>
				Historische Daten EURO STOXX 50&reg; <a ng-href="{{yahooHtmlHref}}" target="_blank">auf Yahoo! Finanzen</a> 
				(als <a ng-href="{{yahooCsvHref}}" target="_blank">CSV</a>)
			</li>
			<li>
				YQL Query (zum Testen in <a href="http://developer.yahoo.com/yql/console/" target="_blank">YQL console</a>):
				<br />
				<span id="yqlQuery" class="code">{{yqlQuery}}</span>
			</li>
		</ul>
	</body>

</html>