.input-year {
	maxlength: 4;
	width: 40px
}

.input-month {
	maxlength: 2;
	width: 30px
}

table {
	border-collapse: collapse;
}

table,th,td {
	border: 1px solid black;
	padding: 3px 10px;
}

.code {
	font-family: monospace;
	font-style: oblique;
}